<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net6.0\ConsoleMatycom.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
        </environmentVariables>
      </aspNetCore>
      <caching>
        <profiles>
          <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        </profiles>
      </caching>
    </system.webServer>
  </location>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <customErrors defaultRedirect="~/Error.cshtml" mode="RemoteOnly" redirectMode="ResponseRewrite" />
  </system.web>
</configuration>